option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "game.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    HealthCheckPath: /chat/health
  aws:elasticbeanstalk:container:python:
    WSGIPath: "game.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
container_commands:
  00_start_daphne:
    command: "daphne -b 0.0.0.0 -p 5000 game.asgi:application"
    leader_only: true