<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
{% extends "base.html" %} {% load static %} {% block title %}
<title xmlns="">Chat Room</title>
{% endblock title %} {% block extra_headers%}
<!-- emoji picker -->
<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"
></script>
{% endblock extra_headers%} {% block content %}
<body>
  <div class="container">
    <h1>Guessmoji Room</h1>
    <h4>{{ user_emoji }}{{ username }}</h4>
    <div class="row m-2" id="row-header">
      <form>
        <div class="input-group mb-1">
          <input
            type="text"
            class="form-control fs-4"
            value=".../chat/room/{{ room_name }}"
            id="copy-input"
            onfocus="expandLinkText();"
            onblur="shortenLinkText();"
          />
          <span class="input-group-btn">
            <button
              class="btn btn-secondary btn-dark fs-4"
              type="button"
              id="copy-button"
              data-toggle="tooltip"
              data-placement="button"
              title="Copy to Clipboard"
            >
              Copy & Share
            </button>
          </span>
        </div>
      </form>

      <div class="row" id="room-details">
        <div class="col-9" id="room-details-spacer"></div>
        <div class="col-3 text-center my-auto" id="room-details-content"></div>
      </div>
    </div>

    <div class="row m-2" id="row-1-wrapper">
      <textarea
        class="col-8"
        id="emoji-clue-input"
        type="text"
        placeholder="Emojis go here!"
        disabled
      ></textarea>
      <div class="col text-center my-auto" id="end-round-col">
        <h6>
          <label>Current Round:</label>
          <text id="current-round">{{ current_round }}</text>
        </h6>
        <h6>
          <label>Leader:</label>
          <text id="leader">{{ leader }}</text>
        </h6>
        <h6>
          <label>Category:</label>
          <text id="category">{{ category }}</text>
        </h6>
        <label class="m-2">New Round Countdown:</label>
        <text id="new-round-requests">{{ countdown_start_message }}</text>
        <button class="btn btn-primary" id="end-round-button">
          Request New Round!
        </button>
      </div>
    </div>

    <div class="row m-2" id="row-2-wrapper">
      <div class="accordion rounded-2" id="accordionExample">
        <div class="accordion-item rounded-2">
          <h2 class="accordion-header rounded-2" id="headingOne">
            <button
              id="emojiCollapse"
              class="accordion-button rounded-2"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Emoji Picker
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse rounded-2"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body rounded-2">
              <emoji-picker class="col"></emoji-picker>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-2" id="row-3-wrapper">
      <div class="col-8" disabled id="chat-log"></div>
      <div class="col overflow-auto" id="chat-members"></div>
    </div>

    <div class="row m-2" id="row-4-wrapper">
      <input class="col" id="chat-message-input" type="text" />
      <input
        class="col-1 btn btn-primary"
        id="chat-message-submit"
        type="button"
        value="Send"
      />

      <div class="col-1">
        <div class="form-group">
          <label id="chat-mode-label">Chat Mode</label>
          <div class="form-check form-switch custom-control custom-switch">
            <label class="switch">
              <input
                class="form-check-input custom-control-input"
                type="checkbox"
                role="switch"
                id="chat-mode-switch"
                onchange="updateChatModeText()"
                checked
                data-toggle="tooltip"
                data-placement="bottom"
                title="Toggle to Guess/Chat"
              />
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-2" id="row-5-wrapper" hidden>
      <button class="btn btn-primary" id="new-prompt-button">
        Get New Prompt!
      </button>
      <h4>
        <label>Prompt:</label>
        <text id="prompt">{{ prompt }}</text>
      </h4>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="winnerModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Starting a New Round!
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" id="winnerModalBody">
          Next leader: <text id="winnerModalText"></text>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  {{ room_name|json_script:"room-name" }} {{ username|json_script:"username" }}
  {{ user_emoji|json_script:"user-emoji" }} {{ domain|json_script:"domain" }} {{
  leader|json_script:"start-leader" }}

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script></script>
  <script type="module">
    import main from "/static/chat/js/room.js";
    main();
  </script>
</body>
{% endblock content %}
