<!-- chat/templates/chat/lobby.html -->
<!DOCTYPE html>
{% extends "base.html" %} {% block title %}
<title>Chat Rooms</title>
{% endblock title %} {% block content %}
<body>
  <div class="container">
    <h1>Enter {{ room_name }}!</h1>
    <form
      method="post"
      id="join-room-form"
      id="TB_sample"
      action="/chat/room/{{ room_name }}/"
    >
      {% csrf_token %}
      <text for="basic-url" class="form-label">Enter your username</text>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
          <select
            class="form-select"
            name="emoji-selection"
            id="emoji-selection"
            aria-label="Default select example"
          >
            {% for emoji in emojis %}
            <option value="{{ emoji }}">{{ emoji }}</option>
            {% endfor %}
          </select>
        </span>
        <input
          id="username-input"
          name="username-input"
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
          value="{{ placeholder_username }}"
        />
      </div>

      <input
        class="btn btn-primary"
        id="room-user-submit"
        type="button"
        value="Enter Room"
      />
    </form>
  </div>
  <script>
    document.querySelector("#username-input").focus();
    document.querySelector("#username-input").onkeyup = function (e) {
      if (e.keyCode === 13) {
        // enter, return
        document.querySelector("#room-user-submit").click();
      }
    };

    document.querySelector("#room-user-submit").onclick = function (e) {
      document.querySelector("#join-room-form").submit();
    };

    function enterExistingRoom(roomName) {
      var userName = document.querySelector("#username-input").value;
      var urlParams = `?username=${encodeURIComponent(userName)}`;
      window.location = "/chat/room/" + roomName + "/" + urlParams;
    }
  </script>
</body>
{% endblock content %}
